<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Fileinput Demo</title>
    <link href="/static/lunbo/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lunbo/css/bootstrap-fileinput.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/lunbo/css/default.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <form th:action="@{/adduser}" method="POST"  class="form-signin">
            <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
                <div class="form-group">
                    <label for="inputTitle">姓名</label>
                    <input type="text" id="inputTitle" name="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitlea">邮箱</label>
                    <input type="email" id="inputTitlea" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitleb">电话</label>
                    <input type="text" id="inputTitleb" name="tel" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitlec">日期</label>
                    <input type="date" id="inputTitlec" name="data"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputTitleaa">症状</label>
                    <input type="text" id="inputTitleaa" name="symptom" class="form-control">
                </div>
            </div>
            <button type="submit" id="uploadSubmit" class="btn btn-info">提交</button>
        </form>
    </div>
</div>


<script src="/static/lunbo/js/jquery.min.js"></script>
<script src="/static/lunbo/js/bootstrap-fileinput.js"></script>
<script type="text/javascript" src="/static/lunbo/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="/static/lunbo/js/jquery.charactercounter.js"></script>
</body>
</html>
