<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javahao.dao.SysDocter">
    <resultMap id="BaseResult" type="com.javahao.pojo.DocterShiro">
        <id column="did" property="did"></id>
        <result column="password" property="password"></result>
        <result column="dname" property="dname"></result>
    </resultMap>
    <select id="findByDoctorName" parameterType="string" resultMap="BaseResult">
        select * from doctor where dname =#{dname}
    </select>

</mapper>