<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javahao.dao.UserDao">
    <select id="selectAll" resultType="com.javahao.pojo.User">
        select * from user 
    </select>
    <select id="selectByNameAndPass"  resultType="com.javahao.pojo.User">
        select * from user  where uname=#{0} and upass=#{1}
    </select>
    <delete id="delete" parameterType="int">
        delete from user where uid=#{id}
    </delete>
    <select id="findById" parameterType="int" resultType="com.javahao.pojo.User">
        select * from user where uid=#{id}
    </select>
    <insert id="insert" parameterType="com.javahao.pojo.User">
        insert into user (uname,email,tel,dname,data,symptom,status,upass)
        values (#{uname},#{email},#{tel},#{dname},#{data},#{symptom},#{status},#{upass})
    </insert>
    <update id="update" parameterType="com.javahao.pojo.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="uid!=null">uid=#{uid}</if>
            <if test="uname!=null">uname=#{uname}</if>
            <if test="email!=null">email=#{email}</if>
            <if test="tel!=null">tel=#{tel}</if>
            <if test="dname!=null">dname=#{dname}</if>
            <if test="symptom!=null">symptom=#{symptom}</if>
            <if test="data!=null">data=#{data}</if>
            <if test="status!=null">status=#{status}</if>
            <if test="upass!=null">upass=#{upass}</if>
        </trim>
        where uid=#{uid}
    </update>
    <!--充值-->
    <update id="memberMoney" parameterType="com.javahao.pojo.User">
        update user
        set money
                =
                money + #{money}
        where member = #{member}
    </update>
    <!--查询账户余额-->
    <select id="inquire" parameterType="String" resultType="Double">
        select user.money from user where member=#{member}
    </select>
    <!--查询会员名是否存在-->
    <select id="findByMember" parameterType="String" resultType="String">
        select user.member from user where member=#{member}
    </select>
</mapper>